<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>27418506016-hspd0bnjmcbf59md4433jneeb89ms9v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27418506016-hspd0bnjmcbf59md4433jneeb89ms9v8</string>
	<key>API_KEY</key>
	<string>AIzaSyADrEoBIP-neFwGgSohQUHKRcISR7Tz3Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>27418506016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MikeLi.GameOfThronesChat</string>
	<key>PROJECT_ID</key>
	<string>gotchat-ad760</string>
	<key>STORAGE_BUCKET</key>
	<string>gotchat-ad760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27418506016:ios:929ececf8ac0f27a</string>
	<key>DATABASE_URL</key>
	<string>https://gotchat-ad760.firebaseio.com</string>
</dict>
</plist>